ul.dynatree-container {
    font-family: tahoma, arial, helvetica;
    font-size: 10pt; 
    white-space: nowrap;
    padding: 3px;
    background-color: white;
    overflow: auto;
}

ul.dynatree-container ul {
    padding: 0 0 0 16px;
    margin: 0;
}

ul.dynatree-container li {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    -moz-background-clip: border;
    -moz-background-inline-policy: continuous;
    -moz-background-origin: padding;
    background: none transparent 0 repeat-y scroll;
    margin: 0;
    padding: 1px 0 0;
}

ul.dynatree-container li.dynatree-lastsib {
    background-image: none;
}

ul.dynatree-no-connector > li {
    background-image: none;
}

.ui-dynatree-disabled ul.dynatree-container {
    opacity: 0.5;
    background-color: silver;
}

span.dynatree-empty,
span.dynatree-vline,
span.dynatree-connector,
span.dynatree-expander,
span.dynatree-icon,
span.dynatree-checkbox,
span.dynatree-radio,
span.dynatree-drag-helper-img,
#dynatree-drop-marker {
    width: 16px;
    height: 16px;
    display: -moz-inline-box; /* @ FF 1+2 */
    display: inline-block; /* Required to make a span sizeable */
    vertical-align: top;
    background: url(icons.gif) no-repeat left;
}

ul.dynatree-container img {
    width: 16px;
    height: 16px;
    margin-left: 3px;
    vertical-align: top;
    border-style: none;
}

span.dynatree-connector {
    background-image: none;
}

span.dynatree-expander {
    background-position: 0px -82px;
    cursor: pointer;
}
span.dynatree-expander:hover {
    background-position: -16px -82px;
}

.dynatree-exp-e span.dynatree-expander,  /* Expanded, not delayed, not last sibling */
.dynatree-exp-ed span.dynatree-expander,  /* Expanded, delayed, not last sibling */
.dynatree-exp-el span.dynatree-expander,  /* Expanded, not delayed, last sibling */
.dynatree-exp-edl span.dynatree-expander  /* Expanded, delayed, last sibling */ {
    background-position: -32px -80px;
}

.dynatree-exp-e span.dynatree-expander:hover,  /* Expanded, not delayed, not last sibling */
.dynatree-exp-ed span.dynatree-expander:hover,  /* Expanded, delayed, not last sibling */
.dynatree-exp-el span.dynatree-expander:hover,  /* Expanded, not delayed, last sibling */
.dynatree-exp-edl span.dynatree-expander:hover  /* Expanded, delayed, last sibling */ {
    background-position: -48px -80px;
}

.dynatree-loading span.dynatree-expander  /* 'Loading' status overrides all others */ {
    background-image: url(loading.gif);
}

span.dynatree-checkbox {
    margin-left: 3px;
    background-position: 0 -32px;
}
span.dynatree-checkbox:hover {
    background-position: -16px -32px;
}

.dynatree-partsel span.dynatree-checkbox {
    background-position: -64px -32px;
}
.dynatree-partsel span.dynatree-checkbox:hover {
    background-position: -80px -32px;
}

.dynatree-selected span.dynatree-checkbox {
    background-position: -32px -32px;
}
.dynatree-selected span.dynatree-checkbox:hover {
    background-position: -48px -32px;
}

span.dynatree-radio {
    margin-left: 3px;
    background-position: 0 -48px;
}
span.dynatree-radio:hover {
    background-position: -16px -48px;
}

.dynatree-partsel span.dynatree-radio {
    background-position: -64px -48px;
}
.dynatree-partsel span.dynatree-radio:hover {
    background-position: -80px -48px;
}

.dynatree-selected span.dynatree-radio {
    background-position: -32px -48px;
}
.dynatree-selected span.dynatree-radio:hover {
    background-position: -48px -48px;
}

span.dynatree-icon {
    margin-left: 3px;
    background-position: 0 52%;
}

.dynatree-ico-cf span.dynatree-icon  /* Collapsed Folder */ {
    background-position: 0px -16px;
}

.dynatree-ico-ef span.dynatree-icon  /* Expanded Folder */ {
    background-position: -64px -16px;
}

.dynatree-statusnode-wait span.dynatree-icon {
    background-image: url(loading.gif);
}

.dynatree-statusnode-error span.dynatree-icon {
    background-position: 0 -112px;
}

ul.dynatree-container a, ul.dynatree-container a:active {
    color: #000; /* inherit doesn't work on IE */
    text-decoration: none;
    vertical-align: top;
    margin: 0;
    margin-left: 3px;
}

ul.dynatree-container a:hover {
    color: #ff0000;
}

span.dynatree-node a {
    display: inline-block; /* Better alignment, when title contains <br> */
    padding-left: 3px;
    padding-right: 3px; /* Otherwise italic font will be outside bounds */
}

span.dynatree-selected a {
    font-style: italic;
}

span.dynatree-active a, span.dynatree-active a:hover {
    font-weight: bold;
    color: #000;
    background: #DEE8F2;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

div.dynatree-drag-helper a {
    border: 1px solid gray;
    background-color: white;
    padding-left: 5px;
    padding-right: 5px;
    opacity: 0.8;
}

div.dynatree-drop-accept span.dynatree-drag-helper-img {
    background-position: -32px -112px;
}

div.dynatree-drag-helper.dynatree-drop-reject {
    border-color: red;
}

div.dynatree-drop-reject span.dynatree-drag-helper-img {
    background-position: -16px -112px;
}

#dynatree-drop-marker {
    width: 24px;
    position: absolute;
    background-position: 0 -128px;
}
#dynatree-drop-marker.dynatree-drop-after,
#dynatree-drop-marker.dynatree-drop-before {
    width: 64px;
    background-position: 0 -144px;
}

#dynatree-drop-marker.dynatree-drop-copy {
    background-position: -64px -128px;
}

#dynatree-drop-marker.dynatree-drop-move {
    background-position: -64px -128px;
}

span.dynatree-drag-source {
    background-color: #e0e0e0;
}

span.dynatree-drag-source a {
    color: gray;
}

span.dynatree-drop-target.dynatree-drop-accept a{
    background-color: #3169C6 !important;
    color: white !important; /* @ IE6 */
    text-decoration: none;
}

