 .ac_results {
    background: #fff;
    border: 1px solid #ddd;
    overflow: auto;
    width: 348px !important;
    -moz-box-shadow: 2px 5px 5px -3px #ccc;
    -webkit-box-shadow: 2px 5px 5px -3px #ccc;
    box-shadow: 2px 5px 5px -3px #ccc;
    z-index: 9999;
}

.ac_loading {
	background: white url(/images/indicator.gif) right center no-repeat;
}

li.ac_even {
    background: #fbfbfb;
}

.ac_results ul li {
    padding: 5px;
}

.ac_results ul li:hover {
    background: #ccc;
}

.ac_results ul li:active {
    background: #cbc4c4;
}