.bionic-ajax-field-error-global-shown {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    text-align: center;
    margin: 0 auto 15px;

    border: 1px solid #fbb;
    background-color: #fdd;
}

.bionic-ajax-field-error-shown {
    width: 94%;
    text-align: center;
    background: #fff0f0;
    padding: .8em;
    margin: 1em 1em 0 0;
    border: 2px solid #ddd;
}

.bionic-ajax-field-error-global-hidden {
     display: none;
}

.bionic-ajax-field-error-hidden {
     display: none;
}
