.information {
    padding: 10px;
    float: left;
    color: #7e7e7e;
    margin-left: 30px;
    border: 1px solid #b3b3b3;
}

.information-ul {
    margin-top: 15px;
}

.information-ul li {
    margin-bottom: 6px;
}

.create-result-form .form {
    float: left;
}

.information-strong {
    font-weight: bold;
    color: #0b3a00;
}