.account-wrap {
    padding-right: 260px;
    overflow: hidden;
    margin-bottom: 30px;
}

.filter-form-wrap {
    float: right;
    margin-right: -260px;
    width: 230px;
    margin-top: 38px;
}

.filter-form-wraper {
    background: #fafafa;
    border: 1px solid #024358;
    border-top: none;
    padding: 10px;
}

.filter-form-wrap h1 {
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    text-align: center;
    font-size: 1.2em;
    padding: 6px;
    font-weight: bold;
    margin-bottom: 0 !important;
}

.ajax-pagable {
    float: left;
    width: 100%;
    position: relative;
}

.ajax-pagable h1, 
.ajax-pagable h2 {
    position: absolute;
    left: 0;
}

.ajax-pagable h1 {
    top: -15px;
}

.ajax-pagable h2 {
    top: 25px;
}

.ajax-pagable table th {
    font-size: 1.1em;
    line-height: 1.1em;
}

.filter-form-wraper .form {
    width: 100% !important;
}

.filter-form-wraper .form label {
    font-size: 1em;
    display: block;
}

.filter-form-wraper select {
    width: 210px !important;
    padding: 2px;
}

.filter-form-wraper .input.button {
    text-align: center;
}