.table tr.financial-position-total {
    text-align: right;
    font-weight: bold;
}

.table tr.financial-position-grand-total {
    text-align: right;
    font-weight: bold;
    font-size: 4;
}

  .table tr.financial-position-grand-total .financial-value
, .table tr.financial-position-total .financial-value
, .table td.finance-number
, .table th.finance-number-title {
    text-align: right;
}
