.form  {
    width: 350px;
    margin-bottom: 15px;
}

 .form  a:hover {
    color: #ff0000;
}

.form .fieldset {
    margin-bottom: .5em;
    padding: 0;
    border: none;
  }

.form .input .button {
    cursor: pointer;
    background-color: #e6e6e6;
    background-repeat: no-repeat;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
    background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
    background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
    background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
    background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
    padding: 5px 14px 6px;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    color: #333;
    font-size: 13px;
    line-height: normal;
    border: 1px solid #ccc;
    border-bottom-color: #bbb;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -webkit-transition: 0.1s linear all;
    -moz-transition: 0.1s linear all;
    -ms-transition: 0.1s linear all;
    -o-transition: 0.1s linear all;
    transition: 0.1s linear all;
}

.form .input .button:hover {    
    background-position: 0 -15px;
    color: #333;
    text-decoration: none;
}

.form .input .button:focus {
    outline: 1px dotted #666;
}

.form .input .button:active {
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.form .input {
    margin-bottom:15px;
}

.form input[type="text"],
.form .input textarea,
.form .input.password input,
.form .input.select select {
    width: 100%;
    margin-top: 1px;
    margin: 0;
    padding: 4px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #ccc;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.form input[type="text"],
.form .input textarea,
.form .input.password input {
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.form input[type="text"]:focus,
.form .input textarea:focus,
.form .input.password input:focus {
    border-color: rgba(82, 168, 236, 0.8);
    -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);    
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
    outline: 0 none;
}

.form .checkbox {
    margin-bottom: 15px;
}

.form .checkbox label,
.form .checkbox input {
    display: inline-block;
    vertical-align: middle;
}

.form label {
    font-weight: bold;
    font-size: 1.2em;
}

.form .group {
    margin-bottom: 15px;
}

.form .datetime {
    margin-top:10px;
}

.datetime label {
    display:block;
}

/* Flash message */

.flash .message {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    margin: 0 auto 15px;
}

.flash .message p {
    margin: 8px;
}
.flash .error {
    border: 1px solid #fbb;
    background-color: #fdd;
}
.flash .warning {
    border: 1px solid #fffaaa;
    background-color: #ffffcc;
}

.flash .notice {
    border: 1px solid #1FDF00;
    background-color: #BBFFB6;
}

.error {
    width: 94%;
    text-align: center;
    background: #fff0f0;
    padding: .8em;
    margin: 1em 1em 0 0;
    border: 2px solid #ddd;
}
 
 
.form-panel-min {
    float: left;
    margin-right: 3%;
}
 
.form-sub-panel {
    margin: 9px 0 18px 25px;
}

form.fulfill-order-form {
    width: 722px;
}

form.fulfill-order-form table.form-checkbox-list-tabled {
    margin: 0;
}

.form-checkbox-list-tabled-wrap {
    max-height: 400px;
    overflow: auto;
}

.form-checkbox-list-tabled-wrap  table.form-checkbox-list-tabled label {
    color: #222;
    font-size: 12px;
    font-weight: normal;
}

.wide-from {
    width: 500px;
}