.form-filter-log {
    margin-top: 20px;
}

.form-filter-log .group {
    float: left;
}

.form-filter-log .form-filter .group input {
    margin-left: 5px;
    margin-right: 10px;
}

.form-filter-log h3 {
    float: left;
    font-size: 1.2em;
    margin: 10px;
}

.log-items-found {
    position: absolute;
    left: 0;
    top: 0;
    margin: 10px 0 20px 0;
}

.log-table .icon-links-vertical {
    min-width: 50px;
}

.log-table .icon-links-vertical li {
    display: inline-block;
    width: 18px;
    margin-right: 5px;
}

.log-table .icon-links-vertical a {
    display: block;
    text-indent: -999em;
}

.log-data {
    margin-bottom: 10px;
}