body {
    min-width: 1095px;
}

#header .logo a {
    cursor: default;
}

.content {
    padding-top: 20px !important;
    background: white;
}

.home-floating {
    width: 1000px;
}

.chart-block-double {
    float: left;
    background: white;
}

.chart-block-large {
    width: 915px;
    background: white;
}

#chart-call-summary {
    display: table;
    margin: auto;
}

.chart-block,
.filter-form-wrap-home,
.chart-block-very-large {    
    border: 1px solid #ccc;
    position: relative;
    padding: 10px;
    margin-bottom: 20px;
    vertical-align: middle;
}

.chart-block,
.filter-form-wrap-home,
.chart-block-very-large {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #FFFFFF;
}

.block-shadow {
    -moz-box-shadow: 0 4px 8px  1px #ccc;
    -webkit-box-shadow: 0 4px 8px  1px #ccc;
    box-shadow: 0 4px 8px  1px #ccc;
}

.chart-block h3,
.filter-form-wrap-home h1 {
    height: 25px;
    font-weight: bold;
    padding: 10px;
    margin: -10px -10px 10px !important;
    -moz-border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
    -moz-box-shadow: 0 1px 2px -1px #000;
    -webkit-box-shadow: 0 1px 2px -1px #000;
    box-shadow: 0 1px 2px -1px #000;
    text-shadow: 1px 1px 0 #fff, 1px 1px 1px #3f3f3f;
    font-size: 1.3em;
}

.chart-block-left {
    float: left;
    margin-right: 15px;
    width: 490px;
    background: white;
}

.ajax-filter-container {
    width: 975px;
    height: 437px;
    float: left;
    background: white;
}

.pie-block {
    float: left;
    height: 392px;
    width: 447px;
}

.overall-values-container {
    width: 335px;
/*    height: 400px;*/
    float: left;
    margin-right: 15px;
}

.chart-block-calls-by-parameter {
    float: left;
    height: 400px;
    width: 600px;
}

#chart-calls-by-parameter {
    margin-right: 5px;
    width: 250px;
    height: 250px;
    float: left;
}

#chart-calls-by-parameter-legend {
    width: 345px;
    height: 310px;
}

#chart-calls-by-parameter-hover {
    width: 250px;
    height: 60px;
    float: left;
    margin-top: 10px;
    overflow: hidden;
    word-wrap: break-word;
}

#chart-top-clients {
    margin-right: 5px;
    width: 250px;
    height: 250px;
    float: left;
}

#chart-top-clients-legend {
    width: 192px;
    height: 300px;
}

#chart-top-clients-hover {
    width: 250px;
    height: 60px;
    float: left;
    margin-top: 10px;
    overflow: hidden;
    word-wrap: break-word;
}

.chart-legend {
    float: right;
    overflow: auto;
}

.chart-legend .legendLabel {
    padding-top: 5px;
    padding-left: 5px;
    vertical-align: middle;
}

.overall-values-group {
    border-bottom: 1px dashed #ccc;
    padding: 10px 0px;
}

.overall-values-group-last {
    border-bottom-style: none;
}

.overall-part {
    width: 340px;
    margin: 0 0 3px;
    display: table;
}

.overall-title {
    float: left;
    width: 175px;
}

.overall-value {
    float: left;
    width: 140px;
    text-align: right;
}

.overall-value-help {
    float: left;
    width: 16px;
    padding: 0px;
    margin: 0 5px 0 0;
    text-align: left;
}

.base {    
    position: absolute;
}

.legend {
    height: 300px;
    overflow: auto;
    position: absolute;
    right: -205px;
    top: 5px;
    width: 185px;
}

.legend > div {
    height: 0 !important;
    position: relative !important;
    right: 0 !important;
}

.legend table {
    position: relative !important;
    right: 0 !important;
}

.legend .legendLabel {
    padding-left: 10px;
}

.legend table td {
    padding-bottom: 10px;
}

.ajax-chart-call-summary-filter,
.ajax-chart-call-status-filter {
    margin: 0 auto;
}

.ajax-chart-call-summary-filter .input,
.ajax-chart-call-status-filter .input {
    display: inline-block;
    vertical-align: middle;
}

.ajax-chart-call-summary-filter .input.select,
.ajax-chart-call-status-filter .input.select {
    width: 84%;
}

.ajax-chart-call-summary-filter .input.button {
    margin-bottom: 31px;
}

.filter-form-wrap-home {
    width: 975px;
}

.filter-form-wrap-home form {
    margin: auto;
}

.filter-form-wrap-home form .input {
    margin-bottom: 5px;
}

.filter-form-wrap-home form .input.button {
    text-align: center;
}

.filter-form-wrap-home form .input.button input {
    margin: 10px 0 0;
    padding: 4px 50px;
}

.chart-label {
    color: #000;
    font-size: 10px;
}

.chart-small-label {
    font-size: 10px;
}


/* Datepicker */

.ui-daterangepicker .range-start,
.ui-daterangepicker .range-end {
    margin-left: 12px;
}

.ui-daterangepicker .ranges {
    width: 500px;
}

.ui-daterangepicker ul,
.ui-daterangepicker .range-start,
.ui-daterangepicker .range-end {
    width: 235px;
}


/* Time-range */

.chart-time-range {
    float: right;
    font-size: smaller;
    font-weight: lighter;
    text-shadow: 1px 1px 1px transparent;
}

.chart-time-range .chart-time-range-from,
.chart-time-range .chart-time-range-to {
    width: 210px;
}

.chart-time-range .chart-time-range-from .chart-time-range-from-title,
.chart-time-range .chart-time-range-to .chart-time-range-to-title {
    float: left;
    width: 20%;
    text-align: right;
}

.chart-time-range .chart-time-range-from .chart-time-range-from-value,
.chart-time-range .chart-time-range-to .chart-time-range-to-value {
    float: left;
    width: 80%;
}

.chart-block-title {
    float: left;
}

.chart-is-loading {
    height: 300px;
    background: white url(/images/charts-loader-1.png) center center no-repeat;
/*    background: white url(/images/charts-loader-2.png) center center no-repeat;*/
}

div.help-charts-for h1 {
    font-size: 1.3em;
}