.icon-links {
    margin-bottom: 10px;
}

.icon-links li,
.icon-links-legend li{
    display: inline-block;
    margin-right: 10px;
    white-space: nowrap;
}

table .icon-links { 
    overflow: hidden;
}

.icon-links.campaign {
    margin-top: 10px;
}

.icon-links li a {
    display: block;
}

.icon {
    height: 16px;
    padding-left: 16px;
    text-indent: .4em;
    line-height: 16px;
    background: url(/images/icons/icons.png) repeat-y;
}

.icon-links li.icon {
    background-image: url(/images/icons/icons-not-active.png);
    opacity: .6;
}

table .icon-links li a {
    opacity: .8;
}

table .icon-links li a:hover {
    opacity: 1;
}

.icon.assign-numbers {
    background-position: 0 -33px;
}

.icon.new-user {
    background-position: 0 -512px;
}

.icon.unblock-number {
    background-position: 0 -640px;
}

.icon.purchase-numbers {
    background-position: 0 -560px;
}

.icon.new-campaign {
    background-position: 0 -64px;
}

.icon.delete {
    background-position: 0 -368px;
}

.icon.delete-call {
    background-position: 0 -432px;
}

.icon.block-number {
    background-position: 0 -416px;
}

.icon.edit {
    background-position: 0 -608px;
}

.icon.show {
    background-position: 0 -847px;
}

.icon.log {
    background-position: 0 -288px;
}

.icon.campaigns {
    background-position: 0 -784px;
}

.icon.advertisers {
    background-position: 0 -912px;
}

.icon.agencies {
    background-position: 0 -752px;
}

.icon.new {
    background-position: 0 -48px;
}

.icon.pages {
    background-position: 0 -272px;
}

.icon.back {
    background-position: 0 -224px;
}

.icon.reload {
    background-position: 0 -464px;
}

.icon.phone-widgets {
    background-position: 0 -384px;
}

.icon.html-widgets {
    background-position: 0 -624px;
}

.icon.register-new-numbers {
    background-position: 0 -160px;
}

.icon.instructions {
    background-position: 0 -400px;
}

.icon.combos {
    background-position: 0 -480px;
}

.icon.visual-editor {
    background-position: 0 -193px;
}

.icon.visual-editor {
    background-position: 0 -193px;
}

.icon.new-package {
    background-position: 0 -976px;
}

.icon.csv {
    background-position: 0 -992px;
}

.icon.pool {
    background-position: 0 -1008px;
}

.icon.campaign {
    background-position: 0 -769px;
}

.icon.page {
    background-position: 0 -288px;
}

.icon.combo {
    background-position: 0 -400px;
}

.icon.advertiser {
    background-position: 0 -864px;
}

.icon.reseller {
    background-position: 0 -912px;
}

.icon.copy {
    background-position: 0 -1024px;
}

.icon.orders {
    background-position: 0 -241px;
}

.icon.finance-position {
    background-position: 0 -944px;
}

.icon.xls-summary {
    background-position: 0 -1040px;
}

.icon.xls-full {
    background-position: 0 -1040px;
}

.icon.priority-up {
    background-position: 0 -1104px;
}

.icon.priority-down {
    background-position: 0 -1088px;
}

.icon.fulfill {
    background-position: 0 -1120px;
}

.icon.details {
    background-position: 0 -848px;
}

.icon.help {
    background-position: 0 -1232px;
}

.icon.icon-charts {
    background-position: 0 -1247px;
}

.icon-small {
    position: relative;
    padding-left: 20px;
}

.icon-small .icon-small-holder {
    position: absolute;
    left: 0;
    top: -2px;
    width: 16px;
    height: 16px;
    background: url(/images/icons/icons.png) no-repeat;
} 

.icon-small.call-with-va .icon-small-holder {
    background-position: 0 -1168px;
}

.icon-small.call-with-old-va .icon-small-holder {
    background-position: 0 -1152px;
}

.icon-small.call-without-va .icon-small-holder {
    background-position: 0 -1184px;
}

.icon-small.call-undefined-va .icon-small-holder {
    background: url(/images/icons/icons-not-active.png) no-repeat 0 -1200px;
}

.icon-small.call-to-default .icon-small-holder {
    background-position: 0 -1136px;
}

.fulfill-order-details-show, 
.fulfill-order-details-hide {
    display: inline-block;
    cursor: pointer;   
    padding: 0;
    width: 16px;
}

*:first-child+html .fulfill-order-details-show, 
*:first-child+html .fulfill-order-details-hide {
    display: inline;  
}

.fulfill-order-details-show {
    background-position: 0 -1200px;
} 

.fulfill-order-details-hide {
    background-position: 0 -1216px;
} 

.table .icon-links {
    float: right;
    margin: 0;
    white-space: nowrap;
}

.icon-links-vertical {
    display: table;
    text-align: center;
}

.icon-links-legend {
    display: table;    
    background: none repeat scroll 0 0 #F5F5F5;
    -moz-box-shadow: -1px 0 4px -1px #CCC;
    -webkit-box-shadow: -1px 0 4px -1px #CCC;
    box-shadow: -1px 0 4px -1px #CCC;
    padding: 5px 9px;
}


.fulfill-order-details-buttons {
    width: 16px;
    height: 16px;
}