.wrap-login {
    width: 500px;
    margin: 50px auto;
}

.wrap-login a {
    text-decoration: underline;
}

.wrap-login a:hover {
    text-decoration: none;
}

.wrap-login h1 {
    font-size: 2em;
    padding: 10px 15px;
    font-weight: normal;
    color: #fff;
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    margin: 0 !important;
    border-bottom-style: solid;
    border-bottom-width: 5px;
}

.content-login {
    background: #fff;
    border-style: solid;
    border-width: 1px;
    padding: 20px;
    -moz-box-shadow: 0 3px 4px #3F3F3F;
    -webkit-box-shadow: 0 3px 4px #3F3F3F;
    box-shadow: 0 3px 4px #3F3F3F;
}

.form .input {
    margin-bottom: 15px;
}

.form label, .form input[type="text"], .form input[type="password"] {
    display: inline-block;
}

.form label {
    font-size: 1.2em;
    font-weight: bold;
    width: 150px;
}

.form label[for="signin_remember"] {
    width: auto;
    margin-left: 150px;
    vertical-align: middle;
}

.form .input input[type="text"], 
.content-login .form .input input[type="password"], 
.content-login .form select {
    width: 300px;
    border: 1px solid #ccc;
    padding: 4px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
     -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.form .input input[type="text"], 
.content-login .form .input input[type="password"] {  
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.form .input input[type="text"]:focus, 
.content-login .form .input input[type="password"]:focus {
    border-color: rgba(82, 168, 236, 0.8);
    -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);    
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
    outline: 0 none;
}

.form .input input[type="checkbox"] {
    vertical-align: middle;
    margin: 0;
    margin-left: 5px;
}

.form .input .button {    
    margin-left: 150px;
    cursor: pointer;
    background-color: #e6e6e6;
    background-repeat: no-repeat;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
    background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
    background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
    background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
    background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
    padding: 5px 14px 6px;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    color: #333;
    font-size: 13px;
    line-height: normal;
    border: 1px solid #ccc;
    border-bottom-color: #bbb;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -webkit-transition: 0.1s linear all;
    -moz-transition: 0.1s linear all;
    -ms-transition: 0.1s linear all;
    -o-transition: 0.1s linear all;
    transition: 0.1s linear all;
}

.form .input .button:hover {    
    background-position: 0 -15px;
    color: #333;
    text-decoration: none;
}

.form .input .button:focus {
    outline: 1px dotted #666;
}

.form .input .button:active {
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
}