
#mail-addresses{
	min-width: 300px;
}
#mail-subject{
	min-width: 300px;
}
#mail-message-content{
	min-width: 500px;
	min-height: 350px;
}
#snapshot-preview{
	/*max-height: 300px;*/
}

#tat_table {
	width: 303px;
	border: ridge;
}