#header .logo a {
    text-decoration: none;
}

.small { 
    font-size:11px;
}

.gray { 
    color:#a2b0b6;
}

.hightlight { 
    background-color:#d6e7c7;
}

/*a {
    -moz-outline: none;
    outline: none;
}*/

a:hover,
a.hover {
    color: #ff0000;
}

p {
    margin-bottom: 10px !important;
}

h1, h2, h3 { 
    margin: 10px 0 !important;
    font-weight: normal;
}

h1 {
    font-size: 2.3em;
}

.clear {
    clear: both;
}
body {
    color: #222;
    font-family: helvetica, arial, sans-serif;
    font-size: 75%;
}

hr {
    background: #f0f0ee;
    color: #f0f0ee;
}

#main .content {
    padding: 5px 15px;
    margin-bottom: 10px;
    background: #fff;
}

#sidebar .block {
    background: #fff;
}

#sidebar h3 {
    padding: 8px 12px;
    background: #3B5526;
    color: #FFF;
    font-weight: bold;
    border-bottom: 5px solid #81B953;
}

#sidebar ul li a:link,
#sidebar ul li a:visited {
    text-decoration: none;
}

#main-navigation li.active a {
    cursor: default;
}

#user-navigation ul li a {
    text-decoration: underline;
}

#user-navigation ul li a:hover {
    text-decoration: none;
}

#footer .block p {
    margin: 0;
    padding: 5px 25px;
}

/* pagination */

.pagination span.current {
    background: #262626;
    color: #FFF;
    border-color: #262626;
}

.pagination a {
    color: #262626;
    border-color: #262626;
}

.pagination a:hover {
    color: #FFF;
    background: #262626;
}

/* lists */

ul.list li {
    border-bottom-color: #F0F0EE;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

ul.list li .item .avatar {
    border-color: #F0F0EE;
    border-width: 1px;
    border-style: solid;
    padding: 2px;
}

/* box */

#box .block {
    background: #FFF;
}

#box .block h2 {
    color: #fff;
    background: #3B5526;
    border-bottom: 5px solid #81b953;
}

#box .block .content { 
    border: 1px solid #81b953;
}

/* login */

#block-login h2 {
    background: #3B5526;
    border-bottom: 5px solid #81b953;
}

/* charts in line */

.charts {
    width: 100%;
    overflow: hidden;
}
  .charts .chart {
    float: left;
    margin: 1.3em 10px 0 0;
  }

/* rounded borders */

#main,
#main-navigation,
#main .block,
#sidebar .block,
#sidebar h3,
ul.list li,
#footer .block,
.form input.button,
#box .block,
#box .block h2,
.secondary-navigation .ui-tabs-nav,
.secondary-navigation .ui-tabs-nav li {
    border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -webkit-border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
}

#sidebar .block, #main .block, ul.list li,
#footer .block, .form input.button, #box .block,
.secondary-navigation .ui-tabs-panel {
    border-bottom-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-right-radius: 4px;
}

.blocked-phone {
    color: #FF0000;
    text-decoration: line-through;
}

table a.blocked-phone, table a.blocked-phone:hover {
    color: #FF0000;
    text-decoration: line-through;
}

#phones {
    margin-top:50px;
}

.flash-notice {
    display: block;
    padding: 7px;
    background: #FBC2C4;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.changeable-url {
    cursor: pointer;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}

div.log-data {
    overflow: auto;
}

div.ajax-blocked {
    float: left;
    width: 100%;
}

div.ajax-blocked .ui-dialog .ui-dialog-titlebar {
    display: none;
}

.display-text,
.ajax-pagable p, 
.ajax-tab-message-global p, 
.ajax-tab-warning-global p {
    font-size: 1.2em;
    line-height: 2em;
}

.ajax-pagable p,
.ajax-pagable .display-text {

}

.ajax-pagable-two p {
    top: 28px;
}

.display-text-two {
    line-height: 1.2em !important;
}

.ajax-message-global p {
    color: #fff;
}

.ajax-loader-message {
    height: 50px;
    line-height: 50px;
    width: 200px;
    margin: 0 auto;
    padding-left: 60px;
}

/* Pager */

.first-page,
.previous-page,
.next-page,
.last-page {
    text-decoration: none;
}


/* Time-range */

.time-range {
    height: 40px;
}

.time-range .time-range-from,
.time-range .time-range-to {
    width: 250px;
}

.time-range .time-range-from .time-range-from-title,
.time-range .time-range-to .time-range-to-title {
    float: left;
    width: 20%;
    text-align: right;
}

.time-range .time-range-from .time-range-from-value,
.time-range .time-range-to .time-range-to-value {
    float: left;
    width: 80%;
}

.fulfill-order-details-stowable {
    display: none;
}