.table {
    width: 100%;
    margin-top: 0px;
    min-width: 450px;
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    border-style: solid;
    border-width: 1px;
}

.table a {
    color: #3f3f3f;
    cursor: pointer;
    text-decoration: underline;
}

.table a:hover{
    color: #000;
    text-decoration: none;
}

.table th {
    padding: 10px;
    font-weight: bold;
    text-align: left;
}

.table th.first {
    width: 30px;
}

.table th.last a {
    color: #fffd4c;
    text-decoration: underline;
}

.table th.last a:hover {
    color: #fff;
}

.table .checkbox {
    margin-left: 10px;
}

.table td {
    padding: 5px 10px;
}

.table td.last {
    text-align: right;
}

.table tr th { 
    padding: 6px 10px;
}

.table-block {
    overflow: auto;
    overflow-y: hidden;
    margin-bottom: 15px;
}

table.log-table td {
    font-size: 1.1em;
    line-height: 1.1em;
}

.table tr:hover td {
    background-color: #fff;
}

.ajax-message-global p, .ajax-warning-global p {
    margin: 5px 0 !important;
}

.ajax-message-global,
.ajax-warning-global, 
.ajax-tab-warning-global,
.ajax-tab-message-global {
     width: 50%;
}

.ajax-message-global,
.ajax-warning-global {
     position: absolute;
     right: 0;
     top: 0;
}

.ajax-message-global p,
.ajax-warning-global p, 
.ajax-tab-message-global p, 
.ajax-tab-warning-global p {
     color: #fff;
     -moz-border-radius: 4px;
     -webkit-border-radius: 4px;
     border-radius: 4px;
     text-align: center;
}

.ajax-message-global p,
.ajax-warning-global p {
     position: relative;
     top: 0 !important;
}

.ajax-message-global p, 
.ajax-tab-message-global p {
    background: #03a630;
}

.ajax-warning-global p, 
.ajax-tab-warning-global p {
    background: #b22222;
}

td.progressbar {
    padding: 2px 5px 1px;    
    white-space: nowrap;
}

td.progressbar > div {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    overflow: hidden;
}

td.progressbar div div {
    padding: 3px 0 4px;  
}

td.progressbar span {
    display: block;
    padding: 3px 5px 4px;
    margin: -21px 0 0;
}

td.progressbar-open div {
    background: #C9E7CA;
}

td.progressbar-progress div {
    background: #C9E7CA;
}

td.progressbar-progress div div {
    background: #7DD182;
}

td.progressbar-done div {
    background: #7DD182;
}

td.progressbar-closed div {
    background: #E7C9CA;
}

td.progressbar-closed div div {
    background: #D17D82;
}

td .order-description {
    clear: right;
}

td .author-details {
    font-style: italic;
    font-size: smaller;
    font-weight: bolder;
    text-align: right;
}

table.table-small {
    font-size: smaller;
}

