/* --- Dialog --- */

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
    font-family: Verdana,Arial,sans-serif !important;
    font-size: 12px !important;
    font-weight: 400 !important;
    font-style: normal !important;
}

#wve-bionic-dialog {
    overflow: hidden;
}

.WVE-ajax-blocked .ui-dialog .ui-dialog-titlebar {
    display: none;
}

.WVE-ajax-blocked .WVE-ajax-loader-message {
    color: #3B5526;
    font-size: 30px;
    font-weight: bold;
    margin: 0;
    padding: 12px 0 15px;
    text-align: center;
}

#wve-bionic-dialog #wve-bionic-wrapper {
    width: 700px;
}

#wve-bionic-dialog h3 {
    display: block;
    font: bold 14px/14px arial;
    margin: 0;
    padding: 0;
    color: #000;
}

#wve-bionic-dialog label {
    display: block;
    font: bold 12px arial;
}

/*
#wve-bionic-dialog select {
    width: 200px;
    height: 320px;
    float: left;
}

#wve-bionic-dialog textarea {
    width: 500px;
    height: 130px;
    margin-bottom: 10px;
    margin-left: 10px
}
*/




/* --- Dialog List of widgets --- */

#wve-bionic-dialog #wve-bionic-widget-select {
    float: left;
    width: 200px;
    height: 300px;
    overflow: hidden;
}

#wve-bionic-dialog #wve-bionic-widget-select select {
    height: 270px;
    width: 200px;
}




/* --- Dialog Forms --- */

#wve-bionic-dialog #wve-bionic-forms {
    float: left;
    width: 500px;
    overflow: hidden;
}

#wve-bionic-dialog .WVE-form-list li {
    list-style: none;
    padding: 2px;
}

#wve-bionic-dialog .WVE-form-list li.wve-bionic-input-hidden {
    display: none;
}


#wve-bionic-dialog #wve-bionic-edit-widget-html,
#wve-bionic-dialog #wve-bionic-new-widget-html {
    width: auto;
    margin-left: 10px;
}

#wve-bionic-dialog #wve-bionic-edit-widget-phone,
#wve-bionic-dialog #wve-bionic-new-widget-phone {
    float: none;
    padding-left: 10px;
}

#wve-bionic-dialog #wve-bionic-edit-widget-html label,
#wve-bionic-dialog #wve-bionic-edit-widget-phone label,
#wve-bionic-dialog #wve-bionic-new-widget-html label,
#wve-bionic-dialog #wve-bionic-new-widget-phone label {
    margin-bottom: 3px;
}

#wve-bionic-dialog .WVE-form-list textarea {
    width: 430px;
    height: 55px;
}

#wve-bionic-dialog #wve-bionic-edit-widget-html textarea,
#wve-bionic-dialog #wve-bionic-new-widget-html textarea {
    height: 160px;
}




/* --- Dialog Form Buttons --- */

#wve-bionic-dialog #wve-bionic-dialog-buttons,
#wve-bionic-dialog .wve-bionic-form-buttons{
    clear: both;
    text-align: center;
    text-align: center;
    margin-top: 5px;
}





/* --- Dialog Errors --- */
#wve-bionic-dialog .WVE-error-message {
    display: inline;
    font: bold 12px/12px arial;
    margin: 0;
    padding: 0;
    color: red;
}
