body {
    background: #629fb3;
}

a {
    color: #105d77;
}

.wrap-login h1 {
    background: -moz-linear-gradient(center top, #79d2ef, #11546A);
    background: -webkit-gradient(linear, left top, left bottom, from(#79d2ef), to(#11546A));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#79d2ef', endColorstr='#11546A');
    border-bottom-color: #92D4EA;
}

.content-login {
    border: 1px solid #92d4ea;
}