/* Main */

body {
    background: #fff;
}

a {
    color: #222;
}

a:hover, 
.pager.ajax-pager a:hover, 
.campaign-tree span.dynatree-node:hover a {
    color: #ff4b00;
}

h1, h2, h3 {
    color: #222;
}

.display-text,
.ajax-pagable p {
    color: #666;
}

#header {
    background: #F8F8F8;
    height: 120px;
    border-bottom: 1px solid #E0E0E0;
}

#header .logo {
    padding: 0px 0 20px;
    height: 85px;
    position: relative;
}

#header .logo a {
    background: url(/images/skins/white/logo.jpg) no-repeat;
    display: block;
    width: 215px;
    height: 80px;
    position: absolute;
    left: 20px;
    bottom: 0px;
    overflow: hidden;
}

#user-navigation ul li {
    color: #9292aa;
    border-left-color: #ccc;
}

#user-navigation ul li a {
    color: #9292aa;
}

#user-navigation ul li a:hover {
    color: #3f3f3f;
}

#main-navigation {
    position: absolute;
    top: 50px;
    left: 450px;
}

#main-navigation ul li {
    float: left;
    padding: 0 7px;
    line-height: 25px; 
}

#main-navigation li a {
    color: #464646;
}

#main-navigation ul li a:hover {
    color: #bcbcbc;
}

#main-navigation ul li.active a, 
#main-navigation ul li.active a:hover {    
    color: #BCBCBC;
    background: #f5f5f5;
  	background: -moz-linear-gradient(100% 100% 90deg, #f5f5f5, #fff);
  	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#f5f5f5));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f5f5');
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,.03);
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.03);
	box-shadow: 0 1px 1px rgba(0,0,0,.03);
    border: 1px solid #ddd;
	border-color: rgba(0,0,0,.15); 
    -moz-border-radius: 4px; 
    -webkit-border-radius: 4px;
    border-radius: 4px;      
}

#main-navigation ul li a,
.secondary-navigation .ui-tabs-nav li a {
    font-size: 14px;
    display: block;
    padding: 5px 10px;
}

#tabs .ui-tabs-nav li a {
    color: #464646;  	
    line-height: 35px;
    height: 35px;
    padding: 0 10px;
}

#tabs .ui-tabs-nav li a:hover {
    color: #bcbcbc;
}

.ui-tabs-nav li a span {
    display: block;
    font-weight: normal;
}

.ui-tabs-nav .ui-state-active a,
.ui-tabs-nav .ui-state-active a:hover {
    border: 1px solid #ccc;
    border-bottom: none;
    background: -moz-linear-gradient(100% 100% 90deg, #f5f5f5, #fff);
  	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#f5f5f5));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f5f5');
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}

#tabs .ui-tabs-nav li.ui-state-active a {
    color: #bcbcbc;
}

.without-sidebar#wrapper {
    padding: 0 20px 20px;
}

.without-sidebar #main .content {
    padding: 0 15px 5px;
}

.secondary-navigation .ui-tabs-nav {
    padding: 0 0 0 35px;
    margin: 0 -35px;
    overflow: hidden;
    background: #F0F0F0;
    border-bottom: 1px solid #E1E1E1;
    border-top: 3px solid #EBEBEB;
}

.secondary-navigation .ui-tabs-nav li {
    margin-right: 7px;
    position: relative;
    top: 1px;
}

#footer {
    margin: 0;
    padding: 20px 0;
    background: #1B1B1B;
}

#footer .block {    
    color: #FFF;    
    height: 40px;
    line-height: 33px;
}

#footer .block p:after {
    content: ' Ciplex.';
}

/* Home */

.chart-block h3,
.filter-form-wrap-home h1 {
    background: -moz-linear-gradient(center top , #fff, #E6E6E6);
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#E6E6E6));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#E6E6E6');
}

.content .block-shadow {
    padding: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
}

/* Table */

.content .table {
    border-color: #ddd;
    color: #333;
    border-style: solid;
    border-color: #ddd;
    border-width: 0 1px 1px 1px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.table tr:last-child td:first-child {
    -moz-border-radius: 0 0 0 4px;
    -webkit-border-radius:  0 0 0 4px;
    border-radius: 0 0 0 4px;
}

.table tr:last-child td:last-child {
    -moz-border-radius: 0 0 4px;
    -webkit-border-radius:  0 0 4px;
    border-radius: 0 0 4px;
}

.content .table th, 
.content .table td {
    padding: 8px;
    border-top: 1px solid #ddd;
}

.table th.first {
    -moz-border-radius: 4px 0 0;
    -webkit-border-radius: 4px 0 0;
    border-radius: 4px 0 0;
}

.table th.last {
    -moz-border-radius: 0 4px 0 0;
    -webkit-border-radius:  0 4px 0 0;
    border-radius: 0 4px 0 0;
}

.table th {
    background: #fff;      
}

.table tr.even {
    background: #fff;
}

.table tr.odd {
    background: #F9F9F9;
}

.content .table tbody tr:hover td {
    background: #f5f5f5;
}

/* Accordion */

.ui-accordion .ui-accordion-header {
    background: -moz-linear-gradient(center top, #F0F0F0, #ccc);
    background: -webkit-gradient(linear, left top, left bottom, from(#F0F0F0), to(#ccc));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F0F0F0', endColorstr='#cccccc');
    border: 1px solid #ccc;
}

.ui-accordion-header.ui-state-hover, .ui-accordion-header.ui-state-active {
    background: -moz-linear-gradient(center top, #F0F0F0, #b9aeae);
    background: -webkit-gradient(linear, left top, left bottom, from(#F0F0F0), to(#b9aeae));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F0F0F0', endColorstr='#b9aeae');
}

/* Dialog for VisualEditor */

.ui-dialog .ui-widget-header  {
    background: -moz-linear-gradient(center top, #5EB4D0, #11546a) !important;
    background: -webkit-gradient(linear, left top, left bottom, from(#5EB4D0), to(#11546a)) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5EB4D0', endColorstr='#11546a') !important;
}

/* Filter Block of Search */


.filter-form-wrap .filter-form-wraper {
    border-color: #CCC;
}

.filter-form-wrap h1 {
    background: -moz-linear-gradient(center top, #F0F0F0, #ccc);
    background: -webkit-gradient(linear, left top, left bottom, from(#F0F0F0), to(#ccc));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F0F0F0', endColorstr='#cccccc');
    border: 1px solid #ccc;
    border-bottom: none;
    color: #464646;
}

/* Form */

.form label {
    color: #666;
}

.form input[type="text"],
.form .input textarea,
.form .input.password input,
.form .input.select select {
    border-color: #afaeae;
}

/* Pager */

.first-page,
.previous-page,
.next-page,
.last-page {
    background-image: url(/images/skins/gray/pager.png);
}

/* DatePicker */

.ui-daterangepicker.ui-widget-content {
    background: #ccc;
    border-color: #666;
}

.ui-daterangepicker .ui-state-default,
.ui-daterangepicker .ui-widget-content .ui-state-default,
.ui-daterangepicker .ui-widget-header .ui-state-default {
    border: 1px solid #666;
    background: -moz-linear-gradient(center top, #ddd, #666);
    background: -webkit-gradient(linear, left top, left bottom, from(#ddd), to(#666));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dddddd', endColorstr='#666666');
    color: #333;
}

.ui-daterangepicker .ui-state-hover,
.ui-daterangepicker .ui-widget-content .ui-state-hover,
.ui-daterangepicker .ui-widget-header .ui-state-hover,
.ui-daterangepicker .ui-state-focus,
.ui-daterangepicker .ui-widget-content .ui-state-focus,
.ui-daterangepicker .ui-widget-header .ui-state-focus {
    border: 1px solid #fafafa;
    background: #666;
    font-weight: bold;
    color: #fff;
}

.ui-daterangepicker .ui-state-active,
.ui-daterangepicker .ui-widget-content .ui-state-active,
.ui-daterangepicker .ui-widget-header .ui-state-active,
.ui-daterangepicker .ui-state-active:hover,
.ui-daterangepicker .ui-state-active:focus {
    background: #fafaf4;
    color: #333;
}

.ui-daterangepickercontain .ui-daterangepicker .ui-state-active a,  
.ui-daterangepickercontain .ui-daterangepicker .ui-state-active a:hover {
    color: #333;
}

.ui-daterangepicker .ui-state-active, 
.ui-daterangepicker .ui-state-active:hover {
    border-color: #666;
    background: #fff;
}

/* Loading */

.blockUI {
    background: rgba(221,221,221, .4) !important;
}

.ajax-loader-message {
    color: #666;
}

.dynatree-statusnode-wait-special span.dynatree-icon {
    background-image: url(/images/skins/gray/tree-loading.gif);
}

.ajax-loader-message {
    background: url(/images/skins/gray/ajax_loader.gif) no-repeat left;
}

.WVE-ajax-loader-message {
    background: url(/images/skins/gray/ajax_loader.gif) no-repeat left;
}

.code span {
    color: #81a4d2;
}


.fulfill-order-details-hide {
    /*Task #3150: TODO:: replace it later by icons*/
    background-color: red;
}

.fulfill-order-details-show {
    /*Task #3150:  TODO:: replace it later by icons*/
    background-color: blue;
}

.campaign-tree .dynatree-active {
    background: #FEF6D6;
    border-color: #e7e7e7;
}

.campaign-tree .dynatree-active:hover, 
.campaign-tree .dynatree-node:hover {
    background: #f8f8f8;
    border-color: #e7e7e7;
}

.form {
    margin: 0px 0 0;
}