/* Main */

body {
    background: #e4ebe4;
}

a {
    color: #214702;
}

h1, h2, h3 {
    color: #3B5526;
}

.display-text,
.ajax-pagable p {
    color: #3B5526;
}

#header {
    background: #fff;
}

#header .logo {
    padding: 20px 0 10px;
}

#header .logo a {
    background: url(/images/skins/green/logo.png);
    display: block;
    width: 137px;
    height: 108px;
}

#user-navigation ul li {
    color: #3B5526;
    border-left-color: #ccc;
}

#user-navigation ul li a {
    color: #3B5526;
}

#user-navigation ul li a:hover {
    color: #262626;
}

#main-navigation {
    background: #3B5526;
    padding: 7px 7px 0 7px;
}

#main-navigation ul li {
    background: -moz-linear-gradient(center top, #D6F0C0, #96C96D);
    background: -webkit-gradient(linear, left top, left bottom, from(#d6f0c0), to(#96C96D));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d6f0c0', endColorstr='#96C96D');
    font-weight: bolder;
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    margin-right: 7px;
}

#main-navigation ul li:hover {
    background: -moz-linear-gradient(center top, #d6f3c0, #76a74e);
    background: -webkit-gradient(linear, left top, left bottom, from(#d6f3c0), to(#76a74e));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d6f3c0', endColorstr='#76a74e');
}

#main-navigation li a {
    color: #3F3F3F;
    padding: 5px 10px;
}

#main-navigation ul li a:hover {
    color: #000 !important;
}

#main-navigation ul li.active {
    background: #e4ebe4 !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e4ebe4', endColorstr='#e4ebe4') !important;
}

#main-navigation li.active a {
    color: #000 !important;
}

#main-navigation ul li a,
.secondary-navigation .ui-tabs-nav li a {
    font-size: 14px;
    display: block;
}

.ui-tabs-nav li a {
    color: #3F3F3F;
    padding: 0.5em 1em;
    font-weight: bold;
}

.ui-tabs-nav .ui-state-active a,
.ui-tabs-nav .ui-state-active a:hover {
    color: #262626 !important;
    border-bottom: none;
}

.secondary-navigation .ui-tabs-nav {
    overflow: hidden;
    margin: 0;
    padding: 0.2em 0.2em 0;
    border: none;
    -moz-border-radius: 4px 4px 0 0 !important;
    -webkit-border-radius: 4px 4px 0 0 !important;
    border-radius: 4px 4px 0 0 !important;
    background: #3B5526;
}

.secondary-navigation .ui-tabs-nav li {
    margin: 0 0.2em 1px 0;
    -moz-border-radius: 4px 4px 0 0 !important;
    -webkit-border-radius: 4px 4px 0 0 !important;
    border-radius: 4px 4px 0 0 !important;
    background: -moz-linear-gradient(center top , #D6F0C0, #96C96D);
    background: -webkit-gradient(linear, left top, left bottom, from(#D6F0C0), to(#96C96D));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#D6F0C0', endColorstr='#96C96D');
    position: relative;
    border: 1px solid #ccc !important;
    top: 1px;
}

.secondary-navigation .ui-tabs-nav li.ui-tabs-selected {
    border: 1px solid #ccc !important;
    border-bottom: none !important;
    background: #fff !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff') !important;
}

.secondary-navigation .ui-tabs-nav .ui-state-default:hover {
    background: -moz-linear-gradient(center top , #afd78f, #578135);
    background: -webkit-gradient(linear, left top, left bottom, from(#afd78f), to(#578135));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#afd78f', endColorstr='#578135');
}

.secondary-navigation .ui-tabs-nav .ui-state-active a {
    color: #262626;
    font-weight: bold;
}

.secondary-navigation .ui-tabs-nav .ui-state-active:hover {
    background: #fff;
}

.secondary-navigation .ui-tabs-nav .ui-state-processing {
    border: 1px solid #999;
}

.secondary-navigation .ui-tabs-nav .ui-state-processing a {
    font-weight: bold;
    color: #212121;
}

#main .content {
    border: 1px solid #81B953;
}

#footer .block {
    color: #FFF;
    background: #3B5526;
}

#footer .block p:after {
    content: ' Bionicclick.';
}

/* Home */

.chart-block h3,
.filter-form-wrap-home h1 {
    background: -moz-linear-gradient(center top , #fbfff6, #d7f0b5);
    background: -webkit-gradient(linear, left top, left bottom, from(#fbfff6), to(#d7f0b5));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbfff6', endColorstr='#d7f0b5');
}

/* Table */

.table {
    border-color: #253618;
}

.table th {
    background: #253618;
    color: #FFF;
}

.table td {
    border-bottom: 1px solid #F0F0EE;
}

.table tr.odd {
    background: #ebfadf;
}

.table tr.even {
    background: #deeed1;
}

/* Accordion */

.ui-accordion .ui-accordion-header {
    background: -moz-linear-gradient(center top , #E6F8D7, #90b571);
    background: -webkit-gradient(linear, left top, left bottom, from(#E6F8D7), to(#90b571));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E6F8D7', endColorstr='#90b571');
}

.ui-accordion-header.ui-state-hover, .ui-accordion-header.ui-state-active {
    background: -moz-linear-gradient(center top , #d2e7c0, #70974f) !important;
    background: -webkit-gradient(linear, left top, left bottom, from(#d2e7c0), to(#70974f));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d2e7c0', endColorstr='#70974f');
}

.ui-state-active .ui-icon {
    background-image: url(../../jquery/custom/images/ui-icons_222222_256x240.png);
}

/* Dialog for VisualEditor */

.ui-dialog .ui-widget-header  {
    background: -moz-linear-gradient(center top , #afd78f, #578135) !important;
    background: -webkit-gradient(linear, left top, left bottom, from(#afd78f), to(#578135)) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#afd78f', endColorstr='#578135') !important;
}

/* Filter Block of Search */

.filter-form-wrap h1 {
    background: #253618;
    color: #fff;
}

/* Form */

.form label {
    color: #111f05;
}

.form input[type="text"],
.form .input textarea,
.form .input.password input,
.form .input.select select {
    border-color: #afaeae;
}

/* Pager */

.first-page,
.previous-page,
.next-page,
.last-page {
    background-image: url(/images/icons/pager_bg.png);
}

/* DatePicker */

.ui-daterangepicker.ui-widget-content {
    background: #E6F8D7;
}

.ui-daterangepicker .ui-state-default,
.ui-daterangepicker .ui-widget-content .ui-state-default,
.ui-daterangepicker .ui-widget-header .ui-state-default {
    border: 1px solid #327e04;
    background: #497227 url(/images/datepicker/ui-bg_highlight-hard_15_497227_1x100.png) 50% 50% repeat-x;
    font-weight: bold;
    color: #ffffff;
}

.ui-daterangepicker .ui-state-active,
.ui-daterangepicker .ui-widget-content .ui-state-active,
.ui-daterangepicker .ui-widget-header .ui-state-active,
.ui-daterangepicker .ui-state-active:hover,
.ui-daterangepicker .ui-state-active:focus {
    background: #fafaf4 !important;
    color: #1d4101 !important;
    border: 1px solid #327e04;
}

.ui-daterangepicker .ui-state-hover,
.ui-daterangepicker .ui-widget-content .ui-state-hover,
.ui-daterangepicker .ui-widget-header .ui-state-hover,
.ui-daterangepicker .ui-state-focus,
.ui-daterangepicker .ui-widget-content .ui-state-focus,
.ui-daterangepicker .ui-widget-header .ui-state-focus {
    border: 1px solid #327e04;
    background: #67b021 url(/images/datepicker/ui-bg_highlight-soft_25_67b021_1x100.png) 50% 50% repeat-x;
    font-weight: bold;
    color: #ffffff;
}

.ui-daterangepicker .ui-state-active a,
.ui-daterangepicker .ui-state-active a:link,
.ui-daterangepicker .ui-state-active a:visited,
.ui-daterangepicker .ui-state-active a:hover {
    color: #1d4101 !important;
}

/* Loading */

.ajax-loader-message {
    color: #3B5526;
}

.dynatree-statusnode-wait-special span.dynatree-icon {
    background-image: url(/images/skins/green/tree-loading.gif);
}

.ajax-loader-message {
    background: url(/images/skins/green/ajax_loader.gif) no-repeat left;
}

.WVE-ajax-loader-message {
    background: url(/images/skins/green/ajax_loader.gif) no-repeat left;
}

.code span {
    color: #40a645;
}
