/* Main */

body {
    background: #629fb3;
}

a {
    color: #105d77;
}

h1, h2, h3 {
    color: #05485e;
}

.display-text,
.ajax-pagable p {
    color: #03585d;
}

#header {
    background: none;
}

#header .logo {
    height: 71px;
    background: #fff;
    -moz-border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
    margin-bottom: 5px;
    position: relative;
}

#header .logo a {
    background: url(/images/skins/blue/logo.png);
    display: block;
    width: 151px;
    height: 29px;
    position: absolute;
    left: 20px;
    bottom: 10px;
    overflow: hidden;
}

#user-navigation ul li {
    color: #9292aa;
    border-left-color: #ccc;
}

#user-navigation ul li a {
    color: #9292aa;
}

#user-navigation ul li a:hover {
    color: #3f3f3f;
}

#main-navigation {
    background: #156681;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 0 -1px 1px 0 #3f3f3f, 1px 1px 0 #ccc;
    -webkit-box-shadow: 0 -1px 1px 0 #3f3f3f, 1px 1px 0 #ccc;
    box-shadow: 0 -1px 1px 0 #3f3f3f, 1px 1px 0 #ccc;
}

#main-navigation ul li {
    float: left;
    padding: 0 7px;
    border-right: 1px solid #368eab;
    line-height: 25px; 
}

#main-navigation li a {
    color: #fff;
    text-transform: uppercase;
}

#main-navigation ul li a:hover {
    background: #0a475b;
    color: #fff !important;
}

#main-navigation ul li.active a {
    color: #fff !important;
    background: #04394a !important;
}

#main-navigation li.active a {
    color: #262626 !important;
}

#main-navigation ul li a,
.secondary-navigation .ui-tabs-nav li a {
    font-size: 14px;
    display: block;
    padding: 5px 10px;
}

.ui-tabs-nav li a {
    color: #fff !important;
    text-transform: uppercase;
    background: url(/images/skins/blue/sub_menu_bg.png) repeat-x;
    line-height: 49px;
    height: 44px;
    padding: 0 10px !important;
    -moz-border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
    border: 1px solid #3f3f3f;
    border-bottom: 1px solid #DBDBFF;
}

.ui-tabs-nav li a:hover {
    background-position: 0 -44px;
}

.ui-tabs-nav li a span  {
    background: url(/images/skins/blue/sub_menu_r_bg.png) no-repeat right;
    padding-right: 25px;
    display: block;
}

.ui-tabs-nav .ui-state-active a,
.ui-tabs-nav .ui-state-active a:hover {
    background-position: 0 -88px;
    color: #096280 !important;
    border: 1px solid #096280;
    border-bottom: none;
}

.secondary-navigation .ui-tabs-nav {
    overflow: hidden;
    border-bottom: 2px solid #dbdbff;
}

.secondary-navigation .ui-tabs-nav li {
    margin-right: 7px;
    position: relative;
    top: 1px;
}

.content {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: -1px 1px 2px #3F3F3F, 1px 0 0 #FFF;
    -webkit-box-shadow: -1px 1px 2px #3F3F3F, 1px 0 0 #FFF;
    box-shadow: -1px 1px 2px #3F3F3F, 1px 0 0 #FFF;
    border: 2px solid #105D77;
}

#footer .block {
    color: #FFF;
    background: #136580;
    height: 40px;
    line-height: 33px;
}

#footer .block p:after {
    content: ' Acquisio.';
}

/* Home */

.chart-block h3,
.filter-form-wrap-home h1 {
    background: -moz-linear-gradient(center top , #fff, #c9f1fb);
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#c9f1fb));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#c9f1fb');
}

/* Table */

.table {
    border-color: #024358;
}

.table th {
    background: -moz-linear-gradient(center top, #3b8ba6, #256d85);
    background: -webkit-gradient(linear, left top, left bottom, from(#3b8ba6), to(#256d85));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3b8ba6', endColorstr='#256d85');
    color: #FFF;
}

.table td {
    border-bottom: 1px solid #F0F0EE;
}

.table tr.odd {
    background: #c8eefa;
}

.table tr.even {
    background: #e5f8fe;
}

/* Accordion */

.ui-accordion .ui-accordion-header {
    background: -moz-linear-gradient(center top, #b5ecfe, #256D85);
    background: -webkit-gradient(linear, left top, left bottom, from(#b5ecfe), to(#256d85));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b5ecfe', endColorstr='#256d85');
}

.ui-accordion-header.ui-state-hover, .ui-accordion-header.ui-state-active {
    background: -moz-linear-gradient(center top, #b5ecfe, #3b91ae);
    background: -webkit-gradient(linear, left top, left bottom, from(#b5ecfe), to(#3b91ae));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b5ecfe', endColorstr='#3b91ae');
}

/* Dialog for VisualEditor */

.ui-dialog .ui-widget-header  {
    background: -moz-linear-gradient(center top, #5EB4D0, #11546a) !important;
    background: -webkit-gradient(linear, left top, left bottom, from(#5EB4D0), to(#11546a)) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5EB4D0', endColorstr='#11546a') !important;
}

/* Filter Block of Search */

.filter-form-wrap h1 {
    background: -moz-linear-gradient(center top, #3b8ba6, #256d85);
    background: -webkit-gradient(linear, left top, left bottom, from(#3b8ba6), to(#256d85));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3b8ba6', endColorstr='#256d85');
    color: #fff;
}

/* Form */

.form label {
    color: #05485e;
}

.form input[type="text"],
.form .input textarea,
.form .input.password input,
.form .input.select select {
    border-color: #afaeae;
}

/* Pager */

.first-page,
.previous-page,
.next-page,
.last-page {
    background-image: url(/images/skins/blue/pager_bg.png);
}

/* DatePicker */

.ui-daterangepicker.ui-widget-content {
    background: #dcf6fe;
}

.ui-daterangepicker .ui-state-default,
.ui-daterangepicker .ui-widget-content .ui-state-default,
.ui-daterangepicker .ui-widget-header .ui-state-default {
    border: 1px solid #2298bf;
    background: -moz-linear-gradient(center top, #5EB4D0, #11546a);
    background: -webkit-gradient(linear, left top, left bottom, from(#5EB4D0), to(#11546a));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5EB4D0', endColorstr='#11546a');
    color: #ffffff;
}

.ui-daterangepicker .ui-state-active,
.ui-daterangepicker .ui-widget-content .ui-state-active,
.ui-daterangepicker .ui-widget-header .ui-state-active,
.ui-daterangepicker .ui-state-active:hover,
.ui-daterangepicker .ui-state-active:focus {
    background: #fafaf4 !important;
    color: #105d77 !important;
}

.ui-daterangepicker .ui-state-hover,
.ui-daterangepicker .ui-widget-content .ui-state-hover,
.ui-daterangepicker .ui-widget-header .ui-state-hover,
.ui-daterangepicker .ui-state-focus,
.ui-daterangepicker .ui-widget-content .ui-state-focus,
.ui-daterangepicker .ui-widget-header .ui-state-focus {
    border: 1px solid #4badce;
    background: #125c75;
    font-weight: bold;
    color: #ffffff;
}

.ui-daterangepicker .ui-state-active a {
    color: #105d77 !important;
}

.ui-daterangepicker .ui-state-active {
    border-color: #0c5a74 !important;
}

/* Loading */

.ajax-loader-message {
    color: #025561;
}

.dynatree-statusnode-wait-special span.dynatree-icon {
    background-image: url(/images/skins/blue/tree-loading.gif);
}

.ajax-loader-message {
    background: url(/images/skins/blue/ajax_loader.gif) no-repeat left;
}

.WVE-ajax-loader-message {
    background: url(/images/skins/blue/ajax_loader.gif) no-repeat left;
}

.code span {
    color: #81a4d2;
}


.fulfill-order-details-hide {
    /*Task #3150: TODO:: replace it later by icons*/
    background-color: red;
}

.fulfill-order-details-show {
    /*Task #3150:  TODO:: replace it later by icons*/
    background-color: blue;
}
