/*
 * This file is part of the Bionicclick framework.
 */

/**
 * Custom Dynatree styles of Bionicclick framework.
 *
 * @package    bionic
 * @author     Efremochkin Yury <yury.efremochkin@fairdevteam.com>
 */


ul.dynatree-container {
    
    display: table;
    width: 100%;
    padding: 0;
}

/* https://tracker.fairdevteam.com/issues/1426 */
.dynatree-node {
    display: block;
    
    padding: 1px 0;
    margin: 0 4px;
    
    border: 1px solid #fff;
    border-bottom: 1px solid #fff;
    
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
.dynatree-node img {
    cursor: pointer;
    padding: 0 5px 0 0;
}

span.dynatree-node a {
    margin: 0;
    padding: 1px;
    
    border: none;
}

.dynatree-node:hover {
    background: #f4fbff;
    border-color: #e6f1fe;
}
span.dynatree-node:hover a { 
    color: red;
}

span.dynatree-active a,
span.dynatree-active a:hover {
    font-weight: normal;
}

.dynatree-active {
    background: #e6f0ff;
    border-color: #d8eafc;
}
.dynatree-active:hover {
    background: #e0eefc;
    border-color: #d2e3f9;
}
/*
span.dynatree-focused {
    background: #e9f4ff;
    border-color: #e4f0ff;
}
*/






ul.dynatree-container ul {
    padding: 0;
}
ul.dynatree-container li {
    padding: 0;
}




ul.dynatree-container li li .dynatree-node {
    padding-left: 16px;
}
ul.dynatree-container li li li .dynatree-node {
    padding-left: 32px;
}
ul.dynatree-container li li li li .dynatree-node {
    padding-left: 48px;
}
ul.dynatree-container li li li li li .dynatree-node {
    padding-left: 64px;
}
ul.dynatree-container li li li li li li .dynatree-node {
    padding-left: 80px;
}
ul.dynatree-container li li li li li li li .dynatree-node {
    padding-left: 96px;
}
ul.dynatree-container li li li li li li li li .dynatree-node {
    padding-left: 112px;
}
ul.dynatree-container li li li li li li li li li .dynatree-node {
    padding-left: 128px;
}
ul.dynatree-container li li li li li li li li li li .dynatree-node {
    padding-left: 144px;
}
ul.dynatree-container li li li li li li li li li li li .dynatree-node {
    padding-left: 160px;
}
ul.dynatree-container li li li li li li li li li li li li .dynatree-node {
    padding-left: 176px;
}