hr {
    height: 1px;
    border: 0;
}

#container {
    min-width: 960px;
    text-align: left;
}

#header {
    position: relative;
    padding: 0 20px;
    background: #fff;
}

#header h1 {
    margin: 0 !important;
    padding: 20px 0 10px;
    font-size: 30px;
    font-weight: bold;
}

#header h1 a {
    color: #3B5526;
    text-decoration: none;
}

.with-sidebar #main {
    width: 79%;
    float: right;
}

.actions-bar {
    padding: 10px 1px;
}

.actions-bar .actions {
    float: left;
}

.actions-bar .pagination {
    float: right;
    padding: 1px 0;
}

#sidebar {
    float: left;
    width: 20%;
}

#sidebar h3 {
    padding: 10px 15px;
    margin: 0;
    font-size: 13px;
}

#sidebar .block {
    margin-bottom: 20px;
    padding-bottom: 10px;
}

#sidebar .block .content {
    padding: 0 15px;
}

#sidebar ul.navigation li a:link, #sidebar ul.navigation li a:visited {
    display: block;
    padding: 10px 15px;
}

#sidebar .block .sidebar-block, #sidebar .notice {
    padding: 5px;
}

#wrapper {
    padding: 20px;
}

#main .block {
    margin-bottom: 20px;
    padding-top: 1px;
    padding-right:10px;
    width: 48%;
    float: left;
}

#main .block_wide {
    margin-bottom: 20px;
    padding-top: 1px;
    padding-right:10px;
    width: 100%;
    float: left;
}

#main .block .content .inner, #main .block_wide .content .inner {
    padding: 0 15px 15px;
}

#main .main p.first {
    margin-top: 0;
}

#user-navigation {
    position: absolute;
    top: 0;
    right: 20px;
}

#main-navigation ul {
    overflow: hidden;
}

#main-navigation ul li {
    float: left;
    margin-right: 7px;
    background: -moz-linear-gradient(center top, #D6F0C0, #96C96D);
    background: -webkit-gradient(linear, left top, left bottom, from(#d6f0c0), to(#96C96D));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d6f0c0', endColorstr='#96C96D');
    font-weight: bolder;
}

#main-navigation ul li:hover {
    background: -moz-linear-gradient(center top, #d6f3c0, #76a74e);
    background: -webkit-gradient(linear, left top, left bottom, from(#d6f3c0), to(#76a74e));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d6f3c0', endColorstr='#76a74e');
}

#main-navigation ul li a:hover {
    color: #000 !important;
}

#main-navigation ul li.active {
    background: #e4ebe4;
}

#user-navigation ul li {
    padding: 5px 10px;
}

#main-navigation li a, #user-navigation li a {
    text-decoration: none;
}

#main-navigation ul li a,
.secondary-navigation .ui-tabs-nav li a {
    font-size: 14px;
    display: block;
    padding: 5px 10px;
}

.secondary-navigation .ui-tabs {
    padding: 0;
    border: none;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    background: none;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1em;
}

.secondary-navigation .ui-tabs-nav {
    overflow: hidden;
    margin: 0;
    padding: 7px 7px 0;
    border: none;
    border-bottom-left-radius: 0;
    -moz-border-radius-bottomleft: 0;
    -webkit-border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    -moz-border-radius-bottomright: 0;
    -webkit-border-bottom-right-radius: 0;
    background: #3B5526;
}

.secondary-navigation .ui-tabs-nav li {
    margin-right: 7px;
}

.secondary-navigation .ui-tabs-nav li.ui-tabs-selected {
    padding-bottom: 1px;
}

.secondary-navigation .ui-tabs-nav .ui-state-default:hover {
    background: -moz-linear-gradient(center top , #afd78f, #578135);
}

.secondary-navigation .ui-tabs-nav .ui-state-active a {
    color: #262626;
    font-weight: bold;
}

.secondary-navigation .ui-tabs-nav .ui-state-active:hover {
    background: #fff;
}

.secondary-navigation .ui-tabs-nav .ui-state-processing {
    border: 1px solid #999;
    background: #81B953;
}

.secondary-navigation .ui-tabs-nav .ui-state-processing a {
    font-weight: bold;
    color: #212121;
}

.secondary-navigation .ui-tabs-panel {
    padding: 20px;
    border: 1px solid #aaa;
    border-top-width: 0;
    background: #fff;
}

#footer {
    margin: 0 5px;
    padding-bottom: 20px;
}

#footer .block {
    width: 100%;
}

/* pagination */

.pagination a, .pagination span {
    padding: 2px 5px;
    margin-right: 5px;
    display: block;
    float: left;
    border-style: solid;
    border-width: 1px;
}

.pagination span.current {
    font-weight: bold;
}

.pagination a {
    text-decoration: none;
}

/* lists */

ul.list li {
    clear: left;
    padding-bottom: 5px;
}

ul.list li .left {
    float: left;
}

ul.list li .left .avatar {
    width: 50px;
    height: 50px;
}

ul.list li .item {
    margin-left: 80px;
}

ul.list li .item .avatar {
    float: left;
    margin: 0 5px 5px 0;
    width: 30px;
    height: 30px;
}

/* box */

#box {
    width: 500px;
    margin: 50px auto;
}

#box .block {
    margin-bottom: 20px;
}

#box .block h2 {
    padding: 10px 15px;
    margin: 0;
}

#box .block .content {
    padding: 10px 20px;
}

label.error {
    border: 0;
    padding: 0;
    margin: 0;
    margin-left: 10px;
    background-color: #fff;
}

input.required, input.error {
    border: 1px solid #FF0000;
}

.sidebar-block {
    overflow: hidden;
}

.sidebar-block ul {
    padding-left: 15px;
}

.sidebar-block li.active a {
    font-weight: bold;
    list-style-type: georgian;
}

div.filter_div {
    float: left;
    width: 250px;
}

ul.error_list li {
    color: red;
}

.pager {
    margin-bottom: 1.5em;
    font-weight: bold;
    font-size: 1.1em;
}

.pager a {
    font-weight: normal;
}

.pager a:hover {
    color: #ff0000;
}

.max-per-page {
    margin-right: 20px;
}

.first-page, .previous-page, .next-page, .last-page {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(/images/icons/pager_bg.png) no-repeat;
    margin: 0 3px;
}

.first-page {
    background-position: -48px 0;
}

.first-page:hover {
    background-position: -48px -16px;
}

.first-page:active {
    background-position: -48px -32px;
}

.previous-page {
    background-position: 0 0;
    margin-right: 10px;
}

.previous-page:hover {
    background-position: 0 -16px;
}

.previous-page:active {
    background-position: 0 -32px;
}

.next-page {
    background-position: -16px 0;
    margin-left: 10px;
}

.next-page:hover {
    background-position: -16px -16px;
}

.next-page:active {
    background-position: -16px -32px;
}

.last-page {
    background-position: -32px 0;
}

.last-page:hover {
    background-position: -32px -16px;
}

.last-page:active {
    background-position: -32px -32px;
}

.pager-space {
    display: inline-block;
    vertical-align: top;
}

.float-left { 
    float: left;
}

.float-right { 
    float: right;
}

.ajax-loader-message {
    margin: 0;
    padding: 12px 0 15px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.ajax-loader-small {
    width: 20px;
    height: 20px;
    border: none;
    float: left;
    margin-right: 5px;
}

.ajax-loader-small-message {
    margin: 0;
    font-size: small;
    text-align: center;
    float: right;
}