select#way-to-pay {
    margin-bottom: 20px;
    padding: 5px;
    width: 373px;
}

.payment-way fieldset {
    border: 1px solid #3f3f3f;
    padding: 10px;
    width: 300px;
    margin-bottom: 20px;
}