.information {
    padding: 10px;
    float: left;
    color: #7e7e7e;
    margin-left: 30px;
    border: 1px solid #b3b3b3;
}

.create-result-form .form {
    float:left;
}

.info-create {
    margin-top: 6px;
}

.information-strong {
    font-weight: bold;
    color: #0b3a00;
}