.campaign-dl dt, .campaign-dl dd {
    float: left;
}

.campaign-dl dt {
    width: 130px;
    font-weight: bold;
    clear: both;
    margin-bottom: 15px;
}

.campaign-dl dd {
    margin: 0;
}

.sidebar-block-content-first {
    overflow: auto;
}