.ui-daterangepickercontain {
	position: absolute;
	z-index: 999;
        width: 260px;
}
.ui-daterangepickercontain .ui-daterangepicker {
	float: left;
	padding: 5px !important;
	width: auto;
	display: inline;
	background-image: none !important;
	clear: left;
}
.ui-daterangepicker ul, .ui-daterangepicker .ranges, .ui-daterangepicker .range-start, .ui-daterangepicker .range-end {
	float: left;
	padding: 0;
	margin: 0;
}
.ui-daterangepicker .ranges {
	width: auto;
	position: relative;
	padding: 5px 5px 40px 0;
	margin-top: 5px;
}
.ui-daterangepicker .range-start, .ui-daterangepicker .range-end {
	margin-left: 5px;
}
.ui-daterangepicker button.btnDone {
	margin: 0 5px 5px 0;
	position: absolute;
	bottom: 0;
	right: 0;
	clear: both;
	cursor: pointer;
	font-size: 1.1em;
}
.ui-daterangepicker ul {
	width: 17.6em;
	background: none;
	border: 0;
}
.ui-daterangepicker li {
	list-style: none;
	padding: 1px;
	cursor: pointer;
	margin: 1px 0;
}
.ui-daterangepicker li.ui-state-hover, .ui-daterangepicker li.ui-state-active {
	padding: 0;
}
.ui-daterangepicker li.preset_0 {
	margin-top: 1.5em !important;
}
.ui-daterangepicker .ui-widget-content a {
	text-decoration: none !important;
}
.ui-daterangepicker li a {
	font-weight: normal;
	margin: .3em .5em;
	display: block;
}
.ui-daterangepicker li span {
	float: right;
	margin: .3em .2em;
}
.ui-daterangepicker .title-start, .ui-daterangepicker .title-end {
	display: block;
	margin: 0 0 .2em;
	font-size: 1em;
	padding: 0 4px 2px;
}
.ui-daterangepicker .ui-datepicker-inline {
	font-size: 1em;
}


.ui-datepicker-inline {
	display: block;
}

.ui-daterangepicker-arrows {
	padding: 2px;
	width: 204px;
	position: relative;
}
.ui-daterangepicker-arrows input.ui-rangepicker-input {
	width: 158px;
	margin: 0 2px 0 20px;
	padding: 2px;
	height: 1.1em;
}
.ui-daterangepicker-arrows .ui-daterangepicker-prev, .ui-daterangepicker-arrows .ui-daterangepicker-next {
	position: absolute;
	top: 2px;
	padding: 1px;
}
.ui-daterangepicker-arrows .ui-daterangepicker-prev {
	left: 2px;
}
.ui-daterangepicker-arrows .ui-daterangepicker-next {
	right: 2px;
}
.ui-daterangepicker-arrows .ui-daterangepicker-prev:hover,
.ui-daterangepicker-arrows .ui-daterangepicker-next:hover,
.ui-daterangepicker-arrows .ui-daterangepicker-prev:focus,
.ui-daterangepicker-arrows .ui-daterangepicker-next:focus {
	padding: 0;
}

.ui-daterangepicker.ui-widget {
    font-family: segoe ui, Arial, sans-serif;
    font-size: 1.1em;
}

.ui-daterangepicker.ui-widget input,
.ui-daterangepicker.ui-widget select,
.ui-daterangepicker.ui-widget textarea,
.ui-daterangepicker.ui-widget button {
    font-family: segoe ui, Arial, sans-serif;
    font-size: 1em;
}

.ui-daterangepicker.ui-widget-content { 
    border: 1px solid #dfd9c3;
    -moz-box-shadow: 0 0 7px #3F3F3F;
    -webkit-box-shadow: 0 0 7px #3F3F3F;
    box-shadow: 0 0 7px #3F3F3F;
    background: #E6F8D7;
    color: #312e25;
}

.ui-daterangepicker .ui-widget-content a { 
    color: #312e25;
}

.ui-daterangepicker .ui-widget-header {
    border: 1px solid #d4ccb0;
    background: #ece8da url(/images/datepicker/ui-bg_gloss-wave_100_ece8da_500x100.png) 50% 50% repeat-x;
    color: #433f38;
    font-weight: bold;
}

.ui-daterangepicker .ui-widget-header a {
    color: #433f38;
    cursor: pointer;
}

.ui-daterangepicker .ui-state-default,
.ui-daterangepicker .ui-widget-content .ui-state-default,
.ui-daterangepicker .ui-widget-header .ui-state-default {
    border: 1px solid #327e04;
    background: #497227 url(/images/datepicker/ui-bg_highlight-hard_15_497227_1x100.png) 50% 50% repeat-x;
    font-weight: bold;
    color: #ffffff;
}

.ui-daterangepicker .ui-state-default a,
.ui-daterangepicker .ui-state-default a:link,
.ui-daterangepicker .ui-state-default a:visited {
    color: #ffffff;
    text-decoration: none;
}

.ui-daterangepicker .ui-state-hover,
.ui-daterangepicker .ui-widget-content .ui-state-hover,
.ui-daterangepicker .ui-widget-header .ui-state-hover,
.ui-daterangepicker .ui-state-focus,
.ui-daterangepicker .ui-widget-content .ui-state-focus,
.ui-daterangepicker .ui-widget-header .ui-state-focus { 
    border: 1px solid #327e04;
    background: #67b021 url(/images/datepicker/ui-bg_highlight-soft_25_67b021_1x100.png) 50% 50% repeat-x;
    font-weight: bold;
    color: #ffffff;
}

.ui-daterangepicker .ui-state-hover a,
.ui-daterangepicker .ui-state-hover a:hover {
    color: #ffffff;
    text-decoration: none;
}

.ui-daterangepicker .ui-state-active,
.ui-daterangepicker .ui-widget-content .ui-state-active,
.ui-daterangepicker .ui-widget-header .ui-state-active {
    border: 1px solid #d4ccb0;
    background: #fafaf4 url(/images/datepicker/ui-bg_carbon-fiber_100_fafaf4_8x9.png) 50% 50% repeat;
    font-weight: bold;
    color: #459e00;
}

.ui-daterangepicker .ui-state-active a,
.ui-daterangepicker .ui-state-active a:link,
.ui-daterangepicker .ui-state-active a:visited {
    color: #459e00;
    text-decoration: none;
}

.ui-daterangepicker .ui-widget :active { 
    outline: none;
}

.ui-daterangepicker .ui-icon { 
    width: 16px;
    height: 16px;
    background-image: url(/images/datepicker/ui-icons_808080_256x240.png);
}

.ui-daterangepicker .ui-widget-content .ui-icon {
    background-image: url(/images/datepicker/ui-icons_808080_256x240.png);
}

.ui-daterangepicker .ui-widget-header .ui-icon {
    background-image: url(/images/datepicker/ui-icons_847e71_256x240.png);
}

.ui-daterangepicker .ui-daterangepicker .ui-state-default .ui-icon { 
    background-image: url(/images/datepicker/ui-icons_eeeeee_256x240.png);
}

.ui-daterangepicker .ui-state-hover .ui-icon,
.ui-daterangepicker .ui-state-focus .ui-icon {
    background-image: url(/images/datepicker/ui-icons_ffffff_256x240.png);
}

.ui-state-active .ui-icon {
    background-image: url(/images/datepicker/ui-icons_8dc262_256x240.png);
}

.ui-state-highlight .ui-icon {
    background-image: url(/images/datepicker/ui-icons_8dc262_256x240.png);
}

.ui-state-error .ui-icon, .ui-state-error-text .ui-icon {
    background-image: url(/images/datepicker/ui-icons_cd0a0a_256x240.png);
}

/* Overlays */
.ui-widget-overlay { 
    background: #2b2922 url(images/ui-bg_inset-soft_15_2b2922_1x100.png) 50% bottom repeat-x;
    opacity: .90;
    filter:Alpha(Opacity=90);
}

.ui-widget-shadow {
    margin: -12px 0 0 -12px;
    padding: 12px;
    background: #cccccc url(images/ui-bg_highlight-hard_95_cccccc_1x100.png) 50% top repeat-x;
    opacity: .20;
    filter:Alpha(Opacity=20);
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.ui-datepicker {
    width: 17em;
    padding: .2em .2em 0;
}

.ui-datepicker .ui-datepicker-header {
    position:relative;
    padding:.2em 0;
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
    position:absolute;
    top: 2px;
    width: 1.8em;
    height: 1.8em;
}

.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover { 
    top: 1px;
}

.ui-datepicker .ui-datepicker-prev { 
    left: 2px;
}
.ui-datepicker .ui-datepicker-next { 
    right:2px;
}

.ui-datepicker .ui-datepicker-prev-hover { 
    left:1px;
}

.ui-datepicker .ui-datepicker-next-hover { 
    right:1px;
}

.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -8px;
    top: 50%;
    margin-top: -8px;
}

.ui-datepicker .ui-datepicker-title { 
    margin: 0 2.3em;
    line-height: 1.8em;
    text-align: center;
}

.ui-datepicker .ui-datepicker-title select { 
    font-size: 1em;
    margin: 1px 0;
}

.ui-datepicker select.ui-datepicker-month-year {
    width: 100%;
}

.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
    width: 49%;
}

.ui-datepicker table {
    width: 100%;
    font-size: .9em;
    border-collapse: collapse;
    margin:0 0 .4em;
}

.ui-datepicker th {
    padding: .7em .3em;
    text-align: center;
    font-weight: bold;
    border: 0;
}

.ui-datepicker td {
    border: 0;
    padding: 1px;
}

.ui-datepicker td span, .ui-datepicker td a {
    display: block;
    padding: .2em;
    text-align: right;
    text-decoration: none;
}

.ui-datepicker .ui-datepicker-buttonpane {
    background-image: none;
    margin: .7em 0 0 0;
    padding:0 .2em;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
}

.ui-datepicker .ui-datepicker-buttonpane button { 
    float: right;
    margin: .5em .2em .4em;
    cursor: pointer;
    padding: .2em .6em .3em .6em;
    width: auto;
    overflow: visible;
}

.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current { 
    float:left;
}

.ui-datepicker.ui-datepicker-multi { 
    width:auto;
}

.ui-datepicker-multi .ui-datepicker-group { 
    float:left;
}

.ui-datepicker-multi .ui-datepicker-group table {
    width:95%;
    margin: 0 auto .4em;
}

.ui-datepicker-multi-2 .ui-datepicker-group { 
    width: 50%;
}
.ui-datepicker-multi-3 .ui-datepicker-group { 
    width: 33.3%;
}
.ui-datepicker-multi-4 .ui-datepicker-group { 
    width: 25%;
}

.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header { 
    border-left-width: 0;
}

.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header { 
    border-left-width: 0;
}

.ui-datepicker-multi .ui-datepicker-buttonpane {
    clear: left;
}

.ui-datepicker-row-break { 
    clear: both;
    width: 100%;
}

.ui-datepicker-rtl { 
    direction: rtl;
}

.ui-datepicker-rtl .ui-datepicker-prev {
    right: 2px;
    left: auto;
}

.ui-datepicker-rtl .ui-datepicker-next {
    left: 2px;
    right: auto;
}

.ui-datepicker-rtl .ui-datepicker-prev:hover {
    right: 1px;
    left: auto;
}

.ui-datepicker-rtl .ui-datepicker-next:hover {
    left: 1px;
    right: auto;
}

.ui-datepicker-rtl .ui-datepicker-buttonpane { 
    clear:right;
}

.ui-datepicker-rtl .ui-datepicker-buttonpane button { 
    float: left;
}

.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current { 
    float: right;
}

.ui-datepicker-rtl .ui-datepicker-group { 
    float:right;
}

.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header { 
    border-right-width: 0;
    border-left-width: 1px;
}

.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header { 
    border-right-width: 0;
    border-left-width: 1px;
}

/* IE6 IFRAME FIX (taken from datepicker 1.5.3 */
.ui-datepicker-cover {
    display: none; /*sorry for IE5*/
    display/**/: block; /*sorry for IE5*/
    position: absolute; /*must have*/
    z-index: -1; /*must have*/
    filter: mask(); /*must have*/
    top: -4px; /*must have*/
    left: -4px; /*must have*/
    width: 200px; /*must have*/
    height: 200px; /*must have*/
}