.account-wrap {
    padding-right: 260px;
    overflow: hidden;
    margin-bottom: 30px;
}

.filter-form-wrap {
    float: right;
    margin-right: -260px;
    width: 230px;
}

.account-wrap table tbody {
    border-color: #253618;
    border-style: solid;
    border-width: 1px 1px 1px 2px;
}

.account-wrap table td {
    border: none;
}

.filter-form-wraper {
    background: #fafafa;
    border: 1px solid #253618;
    border-top: none;
    padding: 10px;
}

.filter-form-wrap h1 {
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    background: #253618;
    color: #fff;
    text-align: center;
    font-size: 1.2em;
    padding: 10px;
    font-weight: bold;
    margin-bottom: 0 !important;
}

.ajax-pagable {
    float: left;
    width: 100%;
}

.ajax-pagable table th {
    font-size: 1.2em;
    padding: 10px;
}

.filter-form-wraper .form {
    width: 100% !important;
}

.filter-form-wraper .form label {
    font-size: 1em;
}

.filter-form-wraper select {
    width: 210px !important;
    padding: 2px;
}

.filter-form-wraper .input.button {
    text-align: center;
}

.filter-form-wrap-account-log {
    margin-top: 62px;
}

.filter-form-wrap-finance {
    margin-top: 62px;
}

.filter-form-wrap-account-numbers {
    margin-top: 25px;
}