.form  {
    width: 350px;
    margin-bottom: 15px;
}

 .form  a:hover {
    color: #ff0000;
}

.form .fieldset {
    margin-bottom: .5em;
    padding: 0;
    border: none;
  }

.form input.button {
    background: -moz-linear-gradient(center top , #fff, #D7D5D5);
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#D7D5D5));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#D7D5D5');
    font-size: 1.2em;
    color: #262626;
    padding: 2px 5px;
    border: 1px solid #888888;
    cursor: pointer;
    outline: none;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.form input.button:active {
    background: -moz-linear-gradient(center top , #fff, #a8a8a8);
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#a8a8a8));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#a8a8a8');
}

.form .input {
    margin-bottom:15px;
}

.form input[type="text"],
.form .input textarea,
.form .input.password input,
.form .input.select select {
    width: 100%;
    margin-top: 1px;
    margin: 0;
    padding: 3px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #afaeae;
}

.form input[type="text"]:focus,
.form .input textarea:focus,
.form .input.password input:focus {
    border-color: #747474;
}

.form  .checkbox {
    margin-bottom: 15px;
}

.form  .checkbox input {
    margin-top: 4px;
    margin-left: 10px;
}

.form  .checkbox label {
    float: left;
}

.form label {
    display: block;
    margin-top: 5px;
    color: #111f05;
    font-size: 1.2em;
    font-weight: bold;
}

/*.form .group label {
    font-size: 1.2em;
    margin-right: 10px;
    margin-top: 5px;
}*/

.form .group {
    margin-top: 5px;
}

.form .datetime {
    margin-top:10px;
}

.datetime label {
    display:block;
}


/* Flash message */

.flash .message {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    margin: 0 auto 15px;
}

.flash .message p {
    margin: 8px;
}
.flash .error {
    border: 1px solid #fbb;
    background-color: #fdd;
}
.flash .warning {
    border: 1px solid #fffaaa;
    background-color: #ffffcc;
}

.flash .notice {
    border: 1px solid #1FDF00;
    background-color: #BBFFB6;
}

.error {
    width: 94%;
    text-align: center;
    background: #fff0f0;
    padding: .8em;
    margin: 1em 1em 0 0;
    border: 2px solid #ddd;
 }






