.form-filter-log {
    margin-top: 20px;
}

.form-filter-log .group {
    float: left;
}

.form-filter-log .form-filter .group input {
    margin-left: 5px;
    margin-right: 10px;
}

.form-filter-log h3 {
    float: left;
    font-size: 1.2em;
    margin: 10px;
}

.log-items-found {
    float: right;
    margin: 10px 0 20px 0;
}

.log-interactive-date-info {
    float: right;
    margin: 10px 0 20px 0;
}
