.icon-links {
    margin-bottom: 10px;
}

.icon-links.campaign {
    margin-top: 10px;
}

.icon-links li {
    float: left;
    margin-right: 10px;
}

.icon-links .icon, .icon-links-vertical .icon {
    padding-left: 20px;
    padding-bottom: 2px;
    display: block;
}

.icon.pages {
    background: url(../../images/icons/pages.png) no-repeat;
}

.icon.edit {
    background: url(../../images/icons/edit.png) no-repeat;
}

.icon.log {
    background: url(../../images/icons/log.png) no-repeat;
}

.icon.new {
    background: url(../../images/icons/new.png) no-repeat;
}

.icon.delete {
    background: url(../../images/icons/delete.png) no-repeat;
}

.icon.reload {
    background: url(../../images/icons/reload.png) no-repeat;
}

.icon.block-number {
    background: url(../../images/icons/block.png) no-repeat;
}

.table .icon-links {
    float: right;
    margin: 0;
}

.icon-links-vertical li {
    float: none;
    margin-bottom: 3px;
}

.icon-links-vertical {
    list-style: none;
    padding: 0;
    margin: 0;
}

