.wrap-login {
    width: 500px;
    margin: 50px auto;
}

.wrap-login a {
    text-decoration: underline;
}

.wrap-login a:hover {
    text-decoration: none;
}

.wrap-login h1 {
    background: #3B5526;
    font-size: 2em;
    padding: 10px 15px;
    font-weight: normal;
    color: #fff;
    border-bottom: 5px solid #81B953;
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    margin: 0 !important;
}

.content-login {
    background: #fff;
    border: 1px solid #81B953;
    padding: 20px;
}

.form .input {
    margin-bottom: 15px;
}

.form label, .form input[type="text"], .form input[type="password"] {
    display: inline-block;
}

.form label {
    font-size: 1.2em;
    font-weight: bold;
    width: 150px;
}

.form label[for="signin_remember"] {
    width: auto;
    margin-left: 150px;
    vertical-align: middle;
}

.form .input input[type="text"], .content-login .form .input input[type="password"], .content-login .form select {
    width: 300px;
    border: 1px solid #000;
    padding: 2px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form .input input[type="text"]:focus, .content-login .form .input input[type="password"]:focus {
    border-color: #726A73;
}

.form .input input[type="checkbox"] {
    vertical-align: middle;
    margin: 0;
    margin-left: 5px;
}

.form .input .button {
    border: 1px solid #888888;
    color: #262626;
    padding: 2px 5px;
    margin-left: 150px;
    background: -moz-linear-gradient(center top , #fff, #D7D5D5);
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#D7D5D5));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#D7D5D5');
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    cursor: pointer;
}

.form .input .button:active {
    background: -moz-linear-gradient(center top , #fff, #a8a8a8);
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#D7D5D5));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#D7D5D5');
}



