html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code,
del, dfn, em, img, q, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
}

ul li {
    list-style: none;
}

table {
    border-collapse: separate;
    border-spacing: 0;
}

table, td, th { 
    vertical-align: middle;
}

blockquote:before, blockquote:after, q:before, q:after { 
    content: "";
}

blockquote, q { 
    quotes: "" "";
}

a img { 
    border: none;
}


