.table th.last-block {
    width: 60%;
    text-align: center;
    border-top-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
}

.block-td {
    width: 220px;
}

.block-reason {
    text-align: center;
}

