.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 15px;
    margin-top: 10px;
}

.table a {
    color: #3f3f3f;
    cursor: pointer;
}

.table a:hover{
    color: #000;
}

.table th {
    padding: 10px;
    font-weight: bold;
    text-align: left;
}

.table th.first {
    width: 30px;
}

.table th.last a {
    color: #fffd4c;
    text-decoration: underline;
}

.table th.last a:hover {
    color: #fff;
}

.table .checkbox {
    margin-left: 10px;
}

.table td {
    padding: 10px;
}

.table td.last {
    text-align: right;
}

.table th {
    background: #253618;
    color: #FFF;
}

.table tr th { 
    padding: 5px;
}

.table td {
    border-bottom: 1px solid #F0F0EE;
}

.table tr.odd {
    background: #ebfadf;
}

.table tr.even {
    background: #deeed1;
}

.table th.first, .table th.first {
    border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -webkit-border-top-left-radius: 4px;
}

.table th.last {
    border-top-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
}
